{
    "root": true,
    "env": {
        "browser": true,
        "es2020": true
    },
    "extends": [
        "airbnb",
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:prettier/recommended"
    ],
    "rules": {
        "react/jsx-filename-extension": [1, {"extensions": [".js"]}],
        "comma-dangle": ["error", "never"],
        "prettier/prettier": ["error", { 
            "singleQuote": true,
            "tabWidth": 2,
            "semi": true,
            "jsxBracketSameLine": false,
            "arrowParens": "avoid",
            "bracketSpacing": true,
            "trailingComma": "es5"
        }]
    },
    "parserOptions": {
        "ecmaVersion": 2020,
        "ecmaFeatures": {
            "jsx": true
        },
        "sourceType": "module"
    },
    "plugins": [
        "react",
        "prettier"
    ]
}
