{
    "root": true,
    "env": {
        "browser": true,
        "es2020": true
    },
    "extends": [
        "airbnb",
        "eslint:recommended",
        "react-app",
        "plugin:react/recommended",
        "plugin:prettier/recommended"
    ],
    "settings": {
        "import/resolver": {
            "node": {
                "paths": ["src"]
            }
        }
    },
    "rules": {
        "comma-dangle": [
            "error",
            "never"
        ],
        "eol-last": "off",
        "import/prefer-default-export": "off",
        "react/jsx-filename-extension": [
            "warn",
            {
                "extensions": [
                    ".js"
                ]
            }
        ],
        "react/require-default-props": "off",
        "react/prop-types": [
            "error",
            {
                "skipUndeclared": true
            }
        ],
        "react/jsx-indent": [
            "error",
            4
        ],
        "react/no-array-index-key": "off",
        "react/jsx-indent-props": "off",
        "prettier/prettier": [
            "error",
            {
                "singleQuote": true,
                "tabWidth": 4,
                "semi": true,
                "jsxBracketSameLine": false,
                "arrowParens": "avoid",
                "bracketSpacing": true,
                "trailingComma": "none",
                "endOfLine": "auto",
                "proseWrap": "always"
            }
        ]
    },
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 2020,
        "ecmaFeatures": {
            "jsx": true
        },
        "sourceType": "module"
    },
    "plugins": [
        "react",
        "prettier"
    ]
}
