{
    "singleQuote": true,
    "tabWidth": 2,
    "semi": true,
    "jsxBracketSameLine": false,
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "trailingComma": "none",
    "endOfLine": "auto",
    "proseWrap": "always"
}