@import 'styles';
@include gradient;

.button {
    outline: none;
    color: $white;
    padding: 1rem 2rem;
    background-color: $pink;
    margin: 1rem;
    border-radius: 3px;
    &:hover {
        background-color: $black;
    }
}

.submit {
    width: 80%;
}

.close {
    outline: none;
    position: absolute;
    top: 10px;
    right: 20px;
    border: 0;
    padding: 0;
    background: transparent;
    z-index: 300;
    color: $pink;
    background-color: transparent;
    &:hover {
        color: $black;
    }
}
