*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body,
button,
input,
textarea {
    @include font-family($poiret-one);
    font-size: 16px;
}

html {
    height: 100%;
}

.app {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4rem 1fr 6rem;
    grid-gap: 1rem;
    grid-template-areas:
        'header'
        'main'
        'footer';
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

ul,
ol,
dd {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}
