@import 'styles';

.contact-form {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 100%;
    .section {
        margin-bottom: 1rem;
        display: flex;
        flex-flow: column nowrap;
        width: 80%;
        .label {
            color: $pink;
            margin-bottom: 0.25rem;
        }
        .field {
            border: 3px solid $blue;
            border-radius: 3px;
            background-color: $black;
            color: $white;
            padding: 0.25rem;
            flex: 1 0 100%;
            height: auto;
            cursor: none;
            outline: none;
        }
        .error {
            color: $pink;
            margin-top: 0.25rem;
        }
    }
}
