@import 'styles';

.footer {
    grid-area: footer;
    background-color: $black;
    color: $white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
    .social-media {
        display: flex;
        flex-flow: row wrap;
        margin: 1rem;
        .social-media-icon {
            margin: 0 0.5rem;
        }
    }
}
