@import 'styles';
@include gradient;

.tooltip {
    position: relative;
    &::before,
    &::after {
        position: absolute;
        pointer-events: none;
        cursor: none;
    }
    &::before {
        z-index: 1000;
        border: 6px solid transparent;
        background: transparent;
        content: '';
    }
    &::after {
        z-index: 1001;
        padding: 5px;
        width: max-content;
        background: $gradient;
        background-size: 400% 400%;
        animation: gradient 2s infinite;
        color: $white;
        content: attr(tooltip);
        font-size: 14px;
        line-height: 1.2;
        border-radius: 3px;
        text-align: center;
    }
}

/* Left */
.tooltip-left {
    &::before,
    &::after {
        right: 100%;
        bottom: 50%;
        left: auto;
    }
    &::before {
        margin-left: 0;
        margin-right: -5px;
        margin-bottom: 0;
        background: linear-gradient(90deg, white, white), $gradient;
        background-clip: padding-box, border-box;
        background-origin: padding-box, border-box;
        transform: rotate(45deg);
        background-size: 400% 400%;
        animation: gradient 2s infinite;
    }
}

/* Right */
.tooltip-right {
    &::before,
    &::after {
        bottom: 50%;
        left: 100%;
    }
    &::before {
        margin-bottom: 0;
        margin-left: -5px;
        background: linear-gradient(90deg, white, white), $gradient;
        background-clip: padding-box, border-box;
        background-origin: padding-box, border-box;
        transform: rotate(45deg);
        background-size: 400% 400%;
        animation: gradient 2s infinite;
    }
}

/* Left & Right */
.tooltip-left,
.tooltip-right {
    &::before {
        top: -5px;
    }
    &::after {
        margin-left: 0;
        margin-bottom: -13px;
    }
}
