@import 'styles';

.nav-item {
    &::after {
        content: ' / ';
    }
    &:last-child::after {
        content: '';
    }
    white-space: pre;
    color: $pink;
}

.active {
    text-decoration: underline;
    text-underline-position: below;
    color: $blue;
}
